body {
    background-color: rgb(223, 223, 231);
    color: goldenrod;
}

.all {
    text-align: center;
}   

.inp {
    border: none;
    border-bottom: 3px solid gray;
    background-color: rgb(223, 223, 231);
    color: green;
    width: 40%;
}

.language {
    margin-top: 20px;
    border: 2px solid gray;
    background-color: rgb(223, 223, 231);
    color: blue;
}

.play {
    margin-top: 20px;
    border: 2px solid gray;
    background-color: rgb(223, 223, 231);
    color: blue;
}

#errors {
    color: red;
}

#won {
    color: green;
}
