body {
    background-color: rgb(90, 163, 104);
    color: black;
}

.all {
    text-align: center;
    font-size: 50px;
}   

.inp {
    border: none;
    border-bottom: 3px solid gray;
    background-color: rgb(90, 163, 104);
    color: white;
    width: 40%;
    font-size: 50px;
    cursor: text;
}

.language {
    margin-top: 20px;
    border: 2px solid gray;
    background-color: rgb(90, 163, 104);
    color: white;
}

.btn {
    margin-top: 20px;
    border: 2px solid gray;
    background-color: rgb(90, 163, 104);
    color: white;
    cursor: pointer;
    font-size: 50px;
}

.text {
    cursor: text;
}

#errors {
    color: red;
}

#won {
    color: green;
}

.hidden {
    display: none;
}
